{% extends 'base.html' %}
{% load static %}
{% block title %}呼大宝学习网{% endblock %}

{% block content %}
    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>课程类别</h2>
                            <div class="cont">
                                <a href="?category=&city={{ city_id }}"><span
                                        {% if category_id == '' %}class="active2"{% endif %}>全部</span></a>
                                {% for category in all_category %}
                                    <a href="?category={{ category.code }}&city={{ city_id }}"><span
                                            {% ifequal category.code category_id %}class="active2"{% endifequal %}>{{ category.explain }}</span></a>
                                {% endfor %}

                            </div>
                        </li>
                        <li>
                            <h2>所在地区</h2>
                            <div class="more">更多</div>
                            <div class="cont">

                                <a href="?category={{ category_id }}&city="><span{% if city_id == '' %}
                                    class="active2" {% endif %}>全部</span></a>
                                {% for city in all_citys %}
                                    <a href="?city={{ city.id }}&category={{ category_id }}"><span
                                            {% ifequal city_id city.id|stringformat:'i' %}class="active2"{% endifequal %}>{{ city.name }}</span></a>
                                {% endfor %}

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="all">共<span class="key">{{ org_nums }}</span>家</div>
                <div class="butler_list company list">
                    <div class="layout">
                        <div class="head">
                            <ul class="tab_header">
                                <li class="{% if sort == '' %}active{% endif %}"><a
                                        href="?sort=&category={{ category_id }}&city={{ city_id }}">全部</a></li>
                                <li><a class="{% if sort == 'students' %}active{% endif %}"
                                       href="?sort=students&category={{ category_id }}&city={{ city_id }}">学习人数
                                    &#8595;</a></li>
                                <li><a class="{% if sort == 'courses' %}active{% endif %}"
                                       href="?sort=courses&category={{ category_id }}&city={{ city_id }}">课程数
                                    &#8595;</a></li>
                            </ul>
                        </div>

                        {% for org in all_orgs.object_list %}
                            <dl class="des difdes">
                                <dt>
                                    <a href="/company/22/">
                                        <img width="200" height="120" class="scrollLoading"
                                             data-url="{{ MEDIA_URL }}{{ org.image }}"
                                             src="{% static 'images/pixel.gif' %}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <div class="clearfix">
                                        <a href="org-detail-homepage.html">
                                            <h1>{{ org.name }}</h1>
                                            <div class="pic fl">

                                                <img src="{% static 'images/authentication.png' %}"/>

                                                <img src="{% static 'images/gold.png' %}"/>

                                            </div>
                                        </a>
                                    </div>
                                    <ul class="cont">
                                        <li class="first"><p class="pic9">课程数：<span>1</span></p>
                                            <p class="c7">学习人数：<span>1000</span></p></li>
                                        <li class="c8" style="padding-left:18px;">{{ org.city }}</li>
                                        <li class="pic10" style="padding-left:18px;">经典课程：

                                            <a href="/diary/19/">c语言基础入门</a>

                                            <a href="/diary/16/">数据库基础</a>

                                        </li>
                                    </ul>
                                </dd>
                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                            </dl>
                        {% endfor %}

                    </div>
                    <div class="pageturn">
                        {% if all_orgs.has_previous %}
                            <li class="long" style="list-style-type: none"><a
                                    href="?{{ all_orgs.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}

                        {% for page in all_orgs.pages %}
                            {% if page %}
                                {% ifequal page all_orgs.number %}
                                    <li class="active" style="list-style-type: none"><a href="?{{ page.querystring }}"
                                                                                        class="page">{{ page }}</a></li>
                                {% else %}
                                    <li style="list-style-type: none"><a href="?{{ page.querystring }}"
                                                                         class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li style="list-style-type: none" class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if all_orgs.has_next %}
                            <li style="list-style-type: none" class="long"><a
                                    href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="right companyright">
                <div class="head">我要学习</div>
                <form class="rightform" id="jsStayForm">
                    <div>
                        <img src="{% static 'images/rightform1.png' %}"/>
                        <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25"/>
                    </div>
                    <div>
                        <img src="{% static 'images/rightform2.png' %}"/>
                        <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>
                    </div>
                    <div>
                        <img src="{% static 'images/rightform3.png' %}"/>
                        <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="50"/>
                    </div>
                    <p class="error company-tips" id="jsCompanyTips"></p>
                    <p id="j" ></p>
                    <input class="btn" type="button" id="jsStayBtn" value="立即咨询 >"/>
                    {% csrf_token %}
                </form>
            </div>

            <div class="right companyrank layout">
                <div class="head">授课机构排名</div>
                {% for hot in hot_orgs %}
                    <dl class="des">
                        <dt class="num fl">1</dt>
                        <dd>
                            <a href="/company/2/"><h1>{{ hot.name }}</h1></a>
                            <p>{{ hot.city }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


{% block custom_js %}
    <script>
        $(function () {
            $('#jsStayBtn').on('click', function () {

                $.ajax({
                    cache: false,
                    {#请求类型#}
                    type: "POST",
                    {#指定调用url地址#}
                    url: "{% url "org:add_ask" %}",
                    {#格式化表单#}
                    data: $('#jsStayForm').serialize(),
                    dataType: 'json',
                    async: false,

                    {#放回方法#}
                    success: function (data) {
                        if (data.status123 == 'success') {
                            {#$('#jsStayForm')[0].reset();#}
                            $('#j').html(data.msg);
                        } else if (data.status123 == 'fail') {

                            $('#j').html(data.msg);
                        }
                    },
                });
                {#return false;#}
            });
        })

    </script>
{% endblock %}